a.menuPrincipal:hover{
	text-decoration:none;
	border-bottom: 3px solid #66ffff;
	color:#333;
}
a.menuPrincipal{
	font-size:17px;
	color:#666;
	/** background-color:yellow;**/
	border-bottom: 3px solid #f8f9fa;
	margin-bottom:0px;
	line-height:97px;
	display: inline-block;
	min-width:150px;
	text-align:center;
	
}

footer{
}

footer .telefonosImportantes{
	padding-top:30px;
	padding-bottom:30px;
}